@using HoTuanPhuoc.Models;
@using PagedList.Mvc;
@model PagedList.PagedList<SACH>
@{
    ViewBag.Title = "Trang chủ";
    Layout = "~/Views/Shared/LayoutUser.cshtml";
    int i = 0;
}

<h2 class="text-center">SÁCH MỚI</h2>
<hr>
<div class="row text-center">
    @if (Model != null && Model.Count() > 0)
    {

        foreach (var sach in Model)
        {
            i++;

            <div class="col-sm-4 col-md-4 col-lg-4 col-xs-6
         @if (i % 3 == 0)
         {@:hidden-xs
         }
        ">

                <div class="thumbnail book-thumbnail">
                    <img style="margin:auto"
                         src="~/Images/@sach.AnhBia" alt="Thumbnail Image" class="img-responsive img-rounded imgbook " />
                    <div class="caption">
                        <h4 style="min-height:70px;">
                            <a href="chi-tiet-sach-@sach.MaSach">
                            @sach.TenSach</a>
                        </h4>
                        <p>
                            <a href="@Url.Action("ThemGioHang", "GioHang", new { ms = sach.MaSach, url = Request.Url.ToString() })" class="btn btn-primary" role="button">
                                <span class="glyphicon glyphicon-shopping-cart" aria-hidden="true"></span> Add to Cart
                            </a>
                        </p>
                    </div>
                </div>
            </div>
        }
      
    }
    

</div>
<nav class="text-center">
    @if (Model != null && Model.Count() > 0)
    {
        <div> Trang @(Model.PageNumber<=0 ? 0 : Model.PageNumber) / @Model.PageCount</div>
        <div class="Menutrang">
            @Html.PagedListPager(Model, page => Url.Action("Index", new { page = page }))
        </div>
    }
</nav>

@section sachbannhieu{
    @Html.Action("_PartialSachBanNhieu", "HoTuanPhuoc")

}

<style>
    .book-thumbnail {
        min-height: 425px; /* Set a minimum height if needed */
        flex-grow: 1; /* Allow items to grow to fill the container */
        display: flex;
        flex-direction: column; /* Ensure items stack vertically */
        justify-content: space-between; /* Space out items evenly */
    }
</style>
<style>
    .Menutrang {
        display: inline;
        text-align: center;
    }
</style>